@import url('https://fonts.googleapis.com/css?family=Radio Canada');

:root {
  --primary-color: #00A6EF;
  --primary-text-color: #FFFFFF;
  --main-color: #FFFFFF;
  --bg-color: #DFE8F0;
  --text-color: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Radio Canada';
}

html, body, .container {
  height: 100%;
}

.container {
  display: grid;
  grid-template-columns: 40% 1fr;
}

.aside {
  background-color: #00A6EF;
  color: var(--primary-text-color);
  position: relative;
}

.flex-center-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  gap: 16px;
}

.title, .lib-button {
  text-transform: uppercase;
}

.title {
  font-size: 3rem;
  letter-spacing: 0.2rem;
}

.lib-button {
  background-color: var(--main-color);
  border: none;
  padding: 12px 36px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 0.9rem;
  color: var(--primary-color);
  cursor: pointer;
}

.copyright {
  position: absolute;
  bottom: 0;
  margin-bottom: 32px;
  font-size: 0.8rem;
}

.main {
  background-color: var(--bg-color);
}